.shi .container-fluid{
   background-color: var(--bgcolor);
   padding: 15px;
}
.shi .ucontainer{
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 113px);
}
.shi .card{
    z-index: 4;
    height: 30vw;
    margin: 10px 0px;
    padding: 0.5vw;
}
.shi .card-body p{
    margin-bottom: 1vw;
    font-size: 1.2vw;
}
.shi .card-text{
    margin-top: 1vw;
    padding: 0.5vw 0px;
    font-size: 1.7vw;
    border: 1px;
    border-style: solid;

}
@media (max-width:576px){
    .shi .card{
        height: 70vw;
    }
    .shi .card-body p{
        margin-bottom: 2vw;
        font-size: 3vw;
    }
    .shi .card-text{
        margin-top: 2vw;
        padding: 1vw 0px;
        font-size: 4vw;
        padding-bottom: 1vw;
    }
}