.shi .container-fluid{
   background-color: var(--bgcolor);
   padding: 15px;
}
.shi .ucontainer{
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 113px);
}
.shi .card{
    z-index: 4;
    height: 35vw;
    margin: 10px 0px;
    padding: 0.5vw;
}
.shi .card 
#shimagediv{
    background: radial-gradient(green,black);
}
/* #downloadbtn{
    height: 3vw;
    font-size: 1vw;
    background-color:"#0eafed";
}
#downloadicon{
    font-size: 2vw;
}
#downloadbtn:hover{
    background-color: #1895c7 !important;
} */

@media (max-width:1000px){
   #shbody{
       font-size: 0.9rem;
   }
}
@media (max-width:878px){
   #shbody{
       font-size: 0.8rem;
   }
}
@media (max-width:792px){
   #shbody{
       font-size: 0.7rem;
   }
}
@media (max-width:710px){
   #shbody{
       font-size: 0.5rem;
   }
}
@media (max-width:575px){
   .shi .card{
       height: 400px;
   }
   .shi .container-fluid{
    padding: 5px;
 }
 #shbody{
    font-size: 0.9rem;
    padding-left: 10px;
}
}