#basicintro,#Terms_and_Condition,#Privacy_policy{
    min-height: 200px;
    padding: 0px 10px;
    margin-bottom: 20px;
}
#aboutheading > h1{
    padding: 0px 10px;
    margin: 20px 0px;
    background: linear-gradient(#26E600,rgb(0, 0, 0));
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
@media (max-width:404px){
   #aboutheading > h1{
       font-size: 30px;
   }
}