.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--boxbgcolor);

}
#bodysection{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    padding: 0px;
}
#imagesection > img{
    width: 100%;
    object-fit: contain;
    background:radial-gradient(rgb(42,191,29),rgb(6,6,6));
}
.bidform{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 40px;

}

#bidfooter{
    display: flex;
    justify-content: space-between!important;
}
#bidfooter p{
    color:black;
    cursor: pointer;
    margin: 5px 0px;
}
#bidfooter p:hover{
    text-decoration: underline;
}
#bid{
    width: 60%;
    height: 100%;
}
#pricesection{
    font-family: 'Lobster';
    color: rgb(56, 56, 56);
    margin: 5px 0px;
    margin-bottom: 10px;
    font-size: 18px;
}
#bid:focus{
    border: 1px solid #26E600;
}
.form-control:focus{
    box-shadow: none;
  }
#bidbtn{
    width: 35%;
    background-color: #26E600;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#bidbtn:hover{
    background-color:#20b102
}


@media (max-width:900px) and (min-width:577px)
{
    .bidform{
        height: 30px;
        width: 100%;
        margin: auto;
        justify-content: space-around;
        padding: 0px 3px;
    }
    #bodysection{
        height: auto;
    }
    #bidfooter p{
        font-size: 0.8rem;
    }
    #bidbtn{
        font-size: 0.8rem!important;
    }
    #bodysection #bid::placeholder{
        font-size: 0.8rem;
    }
    #pricesection{
        font-size: 14px;
    }
}
@media (max-width:576px) and (min-width:447px)
{
    #contentcard{
        width: 400px;
        margin: 0px auto;
    }
    #bodysection{
        height: auto;
    }
    .bidform{
        display: flex;
        flex-direction: column;
        height: auto;
        
    }
    #bid,#bidbtn{
        width: 100%;
    }
    #bid{
        height: 42px;
    }
    #bidbtn{
        margin-top: 5px;
        margin-bottom: 10px;
        height: 42px;
    }
    #pricesection{
        margin: 10px 0px;
    }
    
    
}
@media (max-width:446px)
{
    #contentcard{
        width: 96%;
        margin: 0px auto;
    }
    #bid,#bidbtn{
        width: 95%;
        margin: 0px auto;
    }
    #bid{
        height: 38px;
    }
    #bodysection{
        height: auto;
        padding: 0px 0px;
    }
    .bidform{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #bidbtn{
        margin-top: 5px;
        margin-bottom: 5px;
        height: 38px;
    }
    #pricesection{
        /* margin: 10px 0px; */
        font-size: 16px;
    }
}