.welcome{
    overflow: auto;
    height: calc(100vh - 60px);
    width: 100%;
    background: linear-gradient(47deg,rgba(0, 0, 0, 0.925),rgba(8, 88, 207, 0.548)),url('./icons/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: start;
  }
.Welcomeheading{
    padding: 0px 0px 0px 50px;
    font-size: 50px;
}
.Welcomeheading span{
    color: #0eafed;
}

.Welcomeheading #dot1{
    display: inline;
    animation-name: dotblink1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.Welcomeheading #dot2{
   
    animation-name: dotblink2;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
} 
.Welcomeheading #dot3{
    
    animation-name: dotblink3;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
} 
#contenttext{
    margin-top: 20px;
    width: 50vw;
    padding-left: 50px;
    color: rgb(226, 225, 225);
    font-size: 20px;
}
.cbutton{
    width: 30vh;
    height: 50px;
    margin-left: 50px;

}
.box{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 600px;
    min-height: 100px;
    padding: 0px 10px;
    margin: auto 0px;
}
.button2{
    border: 1.7px solid #0eafed;
    color:#ffffff ;
    border-radius: 5px;
   
}
#signupbutton{
    height: 40px;
    width: 250px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: #00000078;
    transition: 0.5s;
    font-size: 16px;
    color: #0eafed;
}
#signupbutton:hover{
    color:white;
    background-color:#0eafed ;
    border-color: #0eafed;
    
}
@media(max-width:576px)
{
    .Welcomeheading{
        font-size: 10vw;
        padding-left: 0px;
    }
    .welcome{
        justify-content: center;
        align-items: flex-start;
    }
    .box{
        justify-content: center;
        margin: 40px 0px 0px 0px;
        width: 90%;
        min-height: 200px;
        padding: 10px 0px;
        background-color: #00000036;
    }
    .cbutton{
        margin-left: 10px;
        height: 40px;
    }
    #contenttext{

        font-size: 4vw;
        padding-left: 0px;
       
    }
    #signupbutton{
        margin-left: 0px;
        width: 100%;
        height: 10vw;
        font-size: 4.5vw;
    }
}


 

