*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}
/* 
.content{
    display: flex;
    height: calc(100vh - 58px);
    width: 100vw; 
    overflow: hidden;
    background-color:  rgb(230, 249, 255);
} */



.items{
   background-color: lightcyan;
   border: 2.5px solid rgb(255, 255, 255);
   border-bottom: 2.5px solid rgb(209, 204, 204);
   border-left: 2.5px solid rgb(209, 204, 204);
   margin: 10px 0px;
   display: flex;
   justify-content: space-between;
   
} 
.image{
    width: 45%;
    height: 200px;
    overflow: hidden;
    background-color: lightcyan;
    
}
.image img{
    height: 100%;
    width: 100%;
    object-fit:contain;
}
.description{
    width: 30%;
    text-align: left;
    background-color: lightcyan;

}
.price{
    width: 25%;
    position: relative;
    padding: 20px;
    background-color: lightcyan;
}
.heading{
    display: flex;
    margin: 0px;
    padding: 5px 0px;
    justify-content: center;
    background-color: rgb(254, 254, 255);
    color: rgb(80, 80, 80);
    border-bottom: 2.5px solid rgb(189, 186, 186);
    border-left: 2.5px solid rgb(189, 186, 186);
}
.rubox{
    
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-left: 2.5px solid rgb(189, 188, 188);
    border-bottom: 2.5px solid rgb(197, 196, 196);
    padding: 20px;
    flex-direction: column;
    position: relative;
    margin: 10px 0px;
}
.ruheading{
    background-color: rgb(255, 255, 255);
    padding: 5px 0px;
    border-bottom: 2.5px solid rgb(189, 186, 186);
    border-left: 2.5px solid rgb(189, 186, 186);
    color: rgb(88, 88, 88);
    
}

.paybtn{
   width: 100%;
}

.part1 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    background:radial-gradient(rgb(42,191,29),rgb(6,6,6));
}
.part2 {
    width: 20%;
}
.buyitems{
      height: 260px;
      width: 100%;
      background-color: var(--boxbgcolor);
      border: 1px solid var(--boxbordercolor);
      margin: 20px 0px;
      border-radius: 0px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      font-family: 'El-messeri';
      font-size: 16px;
      /* padding:"7px",
      border:"1px fade grey" */
}
#wishlistcontainer,#buyrequestcontainer{
    min-height: calc(100vh - 210px);
    margin-top: 80px;
}
#wishlistcontainer .header,#buyrequestcontainer .header{
    font-family: 'El-messeri';
    color: transparent;
    background:linear-gradient(black,rgb(36, 218, 36));
    -webkit-background-clip: text;
}
#details{
    color:var(--maincolor);
    cursor: pointer;
}
#details:hover{
    color: var(--mainhover);
}
#paymentbtn{
    background-color: var(--maincolor);
    box-shadow: none!important;
}
#paymentbtn:hover{
    background-color: var(--mainhover);
}
@media (max-width:576px) 
{
    .content{
        height: min-content;
        display: flex;
        flex-direction: column;
    }
    .lbox{
        width: 100vw;
        order: 2;
    }
    .rbox{
        width: 100vw;
        order: 1;
    }
    .items{
        display: flex;
        flex-direction: column;
    }
    .image{
       width: 100%;
       height: 200px;
    }
    .description{
        width: 100%;
        height: 150px;
    }
    .price{
        width: 100%;
    }
    #price{
        display: none;
    }
    #realprice{
        display: flex;
        justify-content: center!important;
    }
    .part1{
        width: 100%!important;
        height: 60vw;
        
       
    }

    .part2{
        width: 100%!important;
        
       
    }
    .buyitems{
        display: flex;
        flex-direction: column;
        max-height: fit-content;
        overflow: hidden;
        height: auto;
       

    }
   
}
@media (max-width:356px)
{
    #paymentbtn{
        height: 38px;
    }
    .buyitems{
        font-size: 14px;
    }
}
