@import './navbar2.css';
@import './Mainart.css';
.paymentcontainer{
    height: auto;
    width: 90%;
    max-width: 1000px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: 100px auto;
    position: relative;
    letter-spacing: 0.7px;
    font-family:'calibri';
    border: 1px solid grey;
    line-height: 1rem;
}
.paymentcontainer p{
    margin-bottom: 0px;
}
.paymentcontainer > .header{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.header h3{
    color:var(--maincolor);
}

#lblock,#rblock{
    font-size: 1rem;
    line-height: normal;
}

#productheading{
    background-color: black;
    color: rgb(255, 255, 255);
    padding:8px
}
#invoicefooter{
    min-height: 60px;
    background-color: black;
    width: 100%;
    color: rgb(228, 224, 224);
    padding: 0px 5px;
}
#print{
    background-color: var(--maincolor);
}
#print:hover{
    background-color: var(--mainhover);
}
@media (max-width:576px){
    #lblock,#rblock,header,footer,#productheading,p{
        font-size: 0.8rem;
    }
    .paymentlogo > img{
        height: 40px;
    }
   
    h3{
        font-size: 1rem;
    }
    h5{
        font-size: 0.8rem;
    }
    .paymentcontainer{
        letter-spacing: normal;
        
    }
    
    
    
    
}
@media (max-width:299px){
    .paymentcontainer{
        letter-spacing: normal;
        
    }
    #lblock,#rblock,header,footer,#productheading,p{
        font-size: 0.7rem;
    
    }
    /* #lblock,#rblock,.invoice{
        line-height: 2px;
    } */
    .paymentlogo > img{
        height: 30px;
    }
    
    h3{
        font-size: 0.9rem;
    }
    h5{
        font-size: 0.7rem;
    }
    
   
    
}
@media print {
    .paymentcontainer{
        border: 0.1px solid rgb(165, 165, 165);
        -webkit-print-color-adjust:exact;
        height: auto;
        font-family:'Verdana';
        
    }
    #print{
        display: none;
    }
    #mainnavbar{
        display: none;
    }
    #mainart{
        display: none!important;
    }
    #searchbox{
        display: none!important;
    }
    #mainfooter{
        display: none;
    }
    

    
 }
 