#searchbox{
    height: 300px;
    width: 100%;
    top: 60px;
    background:rgba(0, 0, 0, 0.8) url('../icons/b1.jpg');
    background-blend-mode: darken;
    background-size: fill;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchselect{
    width: 480px;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    
    
}
#searchicon{
    color: #26E600;
    position: absolute;
    right: 5px;
    cursor: pointer;
}
#searchselect input[type="text"]
{
    background-color: rgba(0, 0, 0, 0.404);
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 20px;
    padding-right: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    caret-color: #26E600;
    color: white;
    border-radius: 20px;
}

@media (max-width:576px){

#searchbox{
    height: 140px;
}
#searchicon{
    font-size: 16px;
}
#searchselect{
    margin: auto;
    width: 80vw;
    display: flex;
    height: 30px;
    font-size: 0.8rem;
    
}
#searchselect input[type="text"]{
    padding-left: 10px;
    padding-right: 25px;
}

}