
.margin50{
  padding-top: 50px;
}
.ty{
  font-weight:bolder;
  font-size: 0.95rem;
}
.form-control:focus{
  outline: none!important;
  border: 1px solid grey!important;
  box-shadow: none!important;
}
a{
  text-decoration: none;
}
.navbar{
  z-index: 6!important;
}
.sellitem{
  box-shadow: -5px 5px 7px -1px #2c68836e;
}
/* //for hr inside buyrequest.js */
.ucontainer > hr{
  margin: 0px;
}
.dropdown-toggle::after{
  display: none!important;
}
.dropdown-menu{
  min-width: 85px
}
.btn-check:focus+.btn, .btn:focus{
  box-shadow: none;

}
.form-check-input:checked {
  background-color: #000000;
  border-color: black;
}
.form-check-input:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.navbar-light .navbar-toggler {
  color: rgba(253, 251, 251, 0);
  border-color: rgba(0, 0, 0, 0);
}
/* sellitems css begins here */
.outercontainer{
  width: 70%;
  margin: 0px auto;
  margin: 30px auto;
  padding-bottom: 0px;
  padding: 10px;
}
#card{
  /* box-shadow:  -5px 6px 10px 0px #2c6783; */
}
.productcard{
  box-shadow:  -5px 6px 10px 0px #2c6783;
}
.card_button{
  height: 40px;
  background-color: #0eafed;
  color: white;
  border-radius: 6px;
  border:2px solid #0eafed;
  transition: 0.2s ease-in-out;
  padding: 0px 2px;
}
.card_button:hover{
  color:#ffffff;
  border-color:  #0f98ce;
  background-color: #0f98ce ;
}
.card_button:active{
  color:#e9e9e9;
  border-color:  #0f8bbd;
  background-color: #0f8bbd ;
}
.card_input{
  border-color: #2c688336;
}
.card_input:focus{
  border: 2px solid #2c688369!important;
}
#noitem{
  margin: 70px;
  height: 200px;
  display: block;
  margin: 0px auto;
}
#uploadheading{
  width: 100%;
  height: 10%;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid rgb(214, 214, 214);
}

#maincontainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  background: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-top: 0px;
 
  border-radius: 8px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  
  
}
#lcontainer{
  width: 80%;
  margin: 0px auto;
  height: 100%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  height:300px;
}
#rcontainer{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  
}
.uploadimage{
  width: 100%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 2px dashed rgb(228, 228, 228);
}
#myimage{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#content_Card{
  height: 20vw;
}
input[type="file"]
{
  text-align: center!important;
  border: 1px solid #2c688336;
  padding: 5px;
}
/* //navbar css */

#profileimage{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
@media(max-width:780px)
{
  .navcol{
     justify-content: left!important;
  }
  #maincontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(250, 251, 252);
    margin: 0px auto;
    padding: 20px;
  }
  #lcontainer{
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;
  }
  #rcontainer{
    width: 100%;
    background-color: rgb(255, 255, 255);

  }

  .uploadimage{
    height: 250px;
    max-height: 100%;
  }
  .outercontainer{
    width: 95%;
    margin-top: 30px;
    height: fit-content;
    padding-bottom: 10px;
  }
  #uploadheading{
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
  }
  

  }
  @media(max-width:576px){
    #content_Card{
      height: 45vw;
    }
  }
  
  
  

