@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    --maincolor:#26E600;
    --mainhover:#1ca101;
    --bgcolor:rgb(255, 255, 255); 
    --boxbgcolor:rgba(243, 243, 243,0.7);
    --boxbordercolor:rgb(241, 241, 241);
    
    
}
body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgcolor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


