@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
  --bgcolor:rgb(221, 228, 231);
  --navbg:rgb(219, 244, 255);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bgcolor);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

